{{ define "shared/footer.tmpl" }}

<div class="cueat-footer-wrapper">
  <div class="cueat-footer-container">
    <div class="cueat-footer-links">
      <div class="footer-company-details">
        <img
          src="/contents/newMain_image/main_logo.png"
          alt="큐잇 메인로고"
        />
        <ul>
          <li>
            <a
              href="https://www.notion.so/54aee656fdd949cb9f820690a1e71cbd"
              >이용약관</a
            >
          </li>
          <li>
            <a
              href="https://www.notion.so/5e8558ed982d426dad34199dc73ea7d9"
              >개인정보처리방침</a
            >
          </li>
          <li>
            <a
              href="https://www.ftc.go.kr/bizCommPop.do?wrkr_no=4458701182"
              >사업자정보</a
            >
          </li>
          <li><a href="tel:070-4166-6077">기업제휴문의</a></li>
        </ul>
      </div>
      <div class="mobile-company-details">
        <div class="company-details">
          <div class="mobile-footer-container">
            <img
              src="/contents/newMain_image/m_footer.png"
              alt="큐잇 메인로고"
            />
          </div>
          <div class="mobile-footer-links">
            <a href="https://blog.naver.com/pandacorp" target="_blank">
              <img
                src="/contents/newMain_image/footer_icon1.png"
                alt="큐잇 footer 링크아이콘"
              />
              <span>블로그</span>
            </a>
            <a href="https://www.instagram.com/cueat_official/" target="_blank">
              <img
                src="/contents/newMain_image/footer_icon2.png"
                alt="큐잇 footer 링크아이콘"
              />
              <span>인스타그램</span>
            </a>
              <a href="https://yelloment.co.kr/?cafe_mkt=ue_cueat_footer" target="_blank">
              <img
                src="/contents/newMain_image/footer_icon3.png"
                alt="큐잇 footer 링크아이콘"
              />
              <span>옐로먼트</span>
            </a>
          </div>
        </div>
        <div class="mobile-details-link">
          <ul>
            <li>
              <a
                href="https://www.notion.so/54aee656fdd949cb9f820690a1e71cbd"
                >이용약관</a
              >
            </li>
            <li>
              <a
                href="https://www.notion.so/5e8558ed982d426dad34199dc73ea7d9"
                >개인정보처리방침</a
              >
            </li>
            <li>
              <a
                href="https://www.ftc.go.kr/bizCommPop.do?wrkr_no=4458701182"
                >사업자정보</a
              >
            </li>
            <li><a href="tel:070-4166-6077">기업제휴문의</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-links">
        <a href="https://blog.naver.com/pandacorp"  target="_blank">
          <img
            src="/contents/newMain_image/footer_icon1.png"
            alt="큐잇 footer 링크아이콘"
          />
          <span>블로그</span>
        </a>
        <a href="https://www.instagram.com/cueat_official/"  target="_blank">
          <img
            src="/contents/newMain_image/footer_icon2.png"
            alt="큐잇 footer 링크아이콘"
          />
          <span>인스타그램</span>
        </a>
        <a href="https://yelloment.co.kr/?cafe_mkt=ue_cueat_footer"  target="_blank">
          <img
            src="/contents/newMain_image/footer_icon3.png"
            alt="큐잇 footer 링크아이콘"
          />
          <span>옐로먼트</span>
        </a>
      </div>
    </div>
    <div class="footer-company-info">
      <p>
        (주)판다코퍼레이션 | 대표이사 정규인 | 개인정보관리책임자
        정규인
      </p>
      <p>서울특별시 강남구 봉은사로69길 37 부일빌딩 3층, 302호</p>
      <p>
        사업자 등록번호 : 4458701182 
      </p>
      <p> 통신판매업 신고 :
        2020-서울강남-00228호</p>
      <p>이메일 : panda@pandac.co.kr | 고객센터 : 070-4166-6077</p>
    </div>
    <div class="footer-copyright">
      <p>COPYRIGHT © CU.EAT. ALL RIGHTS RESERVED.</p>
    </div>
  </div>
</div>

<!--
<div>
  <div>
    <div class="footer_info">
    <div class="company_info">
      <span><img src="/contents/images/black_logo.svg" alt=""></span>
      <div class="link-info-group">
        <span><a href="https://www.notion.so/54aee656fdd949cb9f820690a1e71cbd" target="_blank">이용약관</a></span>
        <span><a href="https://www.notion.so/5e8558ed982d426dad34199dc73ea7d9" target="_blank">개인정보처리방침</a></span>
        <span> <a href="https://www.ftc.go.kr/bizCommPop.do?wrkr_no=4458701182" target="_blank">사업자정보</a></span>
      </div>
      </div>
      <div class="link-icon-group">
        <a href="https://www.instagram.com/cueat_official/" target="_blank">
          <img class="link-icon" src="/contents/images/insta.png" alt="큐잇 인스타">
          <span>인스타</span>
        </a>
        <a href="https://yelloment.co.kr/?cafe_mkt=ue_cueat_footer" target="_blank">
          <img class="link-icon" src="/contents/images/yellow_0713.png" alt="큐잇 옐로먼트">
          <span>옐로먼트</span>
        </a>
        <a href="https://blog.naver.com/pandacorp" target="_blank">
          <img class="link-icon" src="/contents/images/blog_0713.png" alt="큐잇 블로그">
          <span>블로그</span>
        </a>
      </div>
    </div>
    <div class="customer_phone">
    고객센터<span>070.4166.6077</span></div>
    <p>(주)판다코퍼레이션 | 대표이사 정규인 | 개인정보관리책임자 정규인
      <br>
      서울특별시 강남구 봉은사로69길 37 부일빌딩 3층, 302호
      <br>
      사업자 등록번호 : 4458701182
      <br>
      통신판매업 신고 : 2020-서울강남-00228호

    </p>
    <p>이메일: panda@pandac.co.kr</p>
  </div>
  <div class="copyright">
    <p>COPYRIGHT © CU.EAT. ALL RIGHTS RESERVED.</p>
  </div>
</div>
-->
{{ template "shared/naver-script.tmpl" . }}

{{ end }}